<p id="notice"><%= notice %></p>

<p>
  <b>Field 1:</b>
  <%= @mongo_string.field_1 %>
</p>

<p>
  <b>Field 2:</b>
  <%= @mongo_string.field_2 %>
</p>


<%= link_to 'Edit', edit_mongo_string_path(@mongo_string) %> |
<%= link_to 'Back', mongo_strings_path %>
